@font-face {
  font-family: 'spooky';
  src: url(../resources/spooky-font/spooky.ttf);
}

@font-face {
  font-family: 'monster-scratch';
  src: url(../resources/monster-scratch-font/monster-scratch.ttf);
}

@font-face {
  font-family: 'x-typewriter';
  src: url(../resources/x-typewriter-font/x-typewriter.ttf);
}

@font-face {
  font-family: 'x-typewriter-bold';
  src: url(../resources/x-typewriter-font/x-typewriter-bold.ttf);
}

/*header styling*/
header {
  position: relative; 
}

.header-image {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.header-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.fade {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

.header-text {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 24px;
  font-family: 'monster-scratch', sans-serif;
  text-transform: uppercase;
  text-align: center;
  background: radial-gradient(ellipse at center, #79af30, #bb5c37);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

  /* Adjust font size for different viewport widths */
  @media screen and (max-width: 600px) {
    .header-text {
      font-size: 16px;
    }
  }
  
  @media screen and (min-width: 601px) and (max-width: 900px) {
    .header-text {
      font-size: 20px;
    }
  }
  
  @media screen and (min-width: 901px) and (max-width: 1200px) {
    .header-text {
      font-size: 24px;
    }
  }
  
  @media screen and (min-width: 1201px) {
    .header-text {
      font-size: 28px;
    }
  }

/*navigation bar styling*/
  nav {
    position: relative;
    padding-bottom: 12px;
    padding-top:30px;
    display: flex;
    justify-content: center;
  }

  nav .line {
    height:2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: black;
    transition: all 0.3s ease;
  }
  
  nav.animate .line{
    transition: none;
  }

  nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex
  }

  nav ul li{
    margin: 0 40px 0 0;
    opacity: 0.4;
    transition: all 0.4s ease;
    font-family: 'x-typewriter-bold', sans-serif;
  }

  nav ul li:hover {
    opacity: 0.7;
  }

  nav ul li.active {
    opacity: 1;
    
  }

  nav ul li:last-child {
    margin-right: 0;
  }

  nav ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    letter-spacing: 0.2em;
    font-size:14px;
  }

/*main section styling*/
  main{
    margin:5%;
  }



h2 {
  font-family: 'spooky', sans-serif;
  text-transform:uppercase;
}

h4{
  font-family: 'spooky', sans-serif;
  text-transform:capitalize;
  font-size:x-large;
}

p {
  font-family: 'x-typewriter', sans-serif;
  font-size:smaller;
}

/*hero profile gallery styling*/
  .hero-profile-gallery{
    display:flex;
    justify-content: center;
  }

  .hero-landscape-images {
    width: 3cm;
    height: 3cm;
  }

  .hero-profile {
    position: relative;
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
  }

  .hero-profile-images-clipped {
    position: absolute;
    top: 0;
    left: 0.02cm;
    width:3cm;
    height:3cm;
  }

  .description-sliders {
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: pink;
    transition: height 0.3s ease;
  }

/*top 5 monsters*/
  #top5-monsters-container {
    display: flex;
  }

  #top5-monsters-text {
    flex: 1;
  }

  #top5-monsters-chart {
    flex: 1;
  }

/*how heroes fare against top 5 common monsters*/
  #how-heroes-fare-top5-container {
    display: flex;
  }

  #how-heroes-fare-top5-chart {
    flex: 1;
  }

  #how-heroes-fare-top5-text {
    flex: 1;
  }

/*slider styling*/
  #description-slider-container{
    height:fit-content;
    padding:5%
  }
  .slider {
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
  }

  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin:2%;
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  .slide.active {
    opacity: 1;
  }

  .horizontal-bar-chart{
    width:80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    bottom:0;
  }

  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: grey;
    border-radius: 50%;
    cursor: pointer;
  }

  .arrow-left {
    left: 20px;
  }

  .arrow-right {
    right: 20px;
  }

  .dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
  }

  .dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: rgba(222, 222, 222, 0.5);
    border-radius: 50%;
  }

  .dot.active {
    background-color: grey;
  }

/*cards*/

.cards_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card{
  margin: 20px;
  width: 225px;
  height:320px;
  perspective: 900px;
  /*display: inline-block;
  justify-content:center;*/
}

@media screen and (max-width: 800px) {
  .cards_container {
    flex-direction: column;
    align-items: center;
  }
}

.card_inner{
  width:100%;
  height:100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card_inner.is-flipped{
  transform:rotateY(180deg);
}

.card_face{
  position:absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility:hidden;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.2)
}

.card_face_front{
  background-image: linear-gradient(to bottom right, #5a7880, #a7a991, #a35e44);
  border:black solid 1.5px;
  display:flex;
  align-items:center;
  justify-content: center;
}

.card_face_front h3{
  color:white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family:'monster-scratch',Georgia, 'Times New Roman', Times, serif;
  font-weight:lighter;
  font-size:24px;
}

.card_face_back{
  transform:rotateY(180deg);
  border:black solid 1.5px;

}

.card_face_back_daphne{
  background-image: linear-gradient(to bottom right,#BDB5BF, #b94e7d, #8F57A3);
}

.card_face_back_fred{
  background-image: linear-gradient(to bottom right, #ffffff,#6D7FA6,#2656AB);
}

.card_face_back_scooby{
  background-image: linear-gradient(to bottom right, #7aa2ae, #8ba098, #9d6750);

}

.card_face_back_shaggy{
  background-image: linear-gradient(to bottom right, #A8B2B9,#91c365,#6CA84F);

}

.card_face_back_velma{
  background-image: linear-gradient(to bottom right,#BDB5BF, #b36a33, #A35E44);
}

.card_content{
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
}

.card_header{
  position: relative;
  padding-top: 20px;
  padding-left: 20px;
  padding-right:20px;
  margin-bottom:0;
}

/*.card_header:after{
  content:'';
  display:block;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:-1;
  border-radius: 0 0 50% 0;
  background-image:linear-gradient(to bottom left, right 10%, pink 115%)
}*/

.card_header img{
  display:block;
  width:90px;
  height:90px;
  margin: 0 auto 20px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid black;
  object-fit:cover;
}

.card_header h3{
  color:white;
  font-family:'spooky',Georgia, 'Times New Roman', Times, serif;
  font-size:17px;
  font-weight:900;
  text-transform: uppercase;
  text-align:center;
  line-height:10px;
  margin-bottom:0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);

}

.card_body{
  margin-top:0px;
  margin-left:18px;
  margin-right:18px;
  align-items:center;
  vertical-align:center;
  padding-left: 8px;
  padding-right:8px;
}

.card_face_back_list{
  margin-top:10px;
  margin-bottom: 10px; 

}

.card_face_back_list ul{
  list-style-type: none;
  padding-left:0;
  margin-top:0px;
}

.card_face_back_list li{
  line-height:15px;
  margin-top:3px;
  margin-bottom:5px;
  padding-left:8px;
  padding-right:8px;
  padding-bottom:8px;

}

.card_face_back_list li h5{
  font-family:'x-typewriter-bold',Georgia, 'Times New Roman', Times, serif;
  line-height:15px;
  margin:0;
  padding-bottom:3px;
  padding-top:5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color:#F5F5F5;
  text-align:center;


}

.card_face_back_list li p{
  line-height:15px;
  margin:0;
  font-size:12px;
  word-spacing:0.3px;
  letter-spacing:-0.5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color:#e0e0e0;
  text-align:center;



}